img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 110%;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 3px solid red;
	padding-bottom: 0.9%;
	width: 36%;
}